*{
    margin: 0;
    padding: 0;
}

body{
 
    background:url(images/bg.jpeg) ;
    font-family:'Times New Roman', Times, serif;
}


form{
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 7vw 7vw;
    width: 50%;
    opacity: 64%;
    margin-left: 19%;
    margin-top: 10%;
    border-radius: 10px ;
    
}


form input{
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: #f5f5f5;
    font-size: 16px;
    width: 90%;
    border-radius: 7px;

}


form button{
    padding: 15px;
    background:#2e6d97;
    color:white;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
}